* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: var(--body-background);
    color: var(--body-text);
    font-family: "Poppins", serif;
}

a,
a:visited {
    color: var(--header-text);
    text-decoration: none;
}

.wrapper {
    flex: 1 0 auto;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.error_404 {
    display: flex;
    justify-content: center;
}
